<h1 class="text-center">
    Cadastro De Pessoas
    <p>Aperte um dos botões para realizar o que deseja fazer.</p>
</h1>

<br><br>

<div class="text-center">
    <div class="btn-group" role="group" aria-label="Exemplo básico">
        <a href="./preenchendo.html" role=button type="button" class="btn btn-primary">Criar Cadastro</a>
            <button type="button" class="btn btn-primary">Alterar</button>
            <button type="button" class="btn btn-primary">Excluir</button>
            <button type="button" class="btn btn-primary">Procurar</button>
    </div>
</div>
